
h1 {
  text-align: center;
  font-size: 50px;
}
article {
  float: left;
}
p {
  max-width: 600px;
  flex: left;
  font-size: 23px
}
h3{
  font-size: 27px;
}
li {
  font-size: 25px;
}
img{
  vertical-align: middle;
}

/* shifting elements*/
.clear {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-right {
  text-align: right;
}

.bottom-margin{
    margin-bottom: 400px;
}
.center{
  text-align: center;
}

/* Text placement style  */
.bill-and-ted-text{
  position: relative; 
	top: -300px;
  left: 800px; 
  display: inline-block;
  
}

.john-wick-text{
    position:relative;
    top: 250px
}

.column-layout{
    column-width: 50%
}

.constantine-text{
    position: relative;
    top: -300px
}

/* Devil's Advocate style */

.devil-flex{
  display: flex;
 justify-content: flex-end;
 width: 1000px;
}

.devil-image{
 align-content: middle;
 margin-right: 400px
}

.devil-text{
  margin-top: 250px;
}
