.body-container
{
    text-align: center;
}

h1
{
    font-size: 50px;
}

.nameTitle
{
    margin-bottom: 10%;
}

.image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 40%;
    float: left;
}

.floater {
    float: left;
    margin-left: 100px;
}

#face {
    height: 100vh;
}

@media screen and (max-width: 851px)
{
    .image
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        width: 40%;
        float: none;
    }  
}