
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

h2 {
  color: #6bbc5d;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 20px;
}

a {
  color: #6bbc5d;
  transition: opacity 400ms ease;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

li
{
    list-style: none;
}

ul
{
    padding: 0px;
}

/* footer styles */


footer {
  background-color: #000;
  margin-top: 60px;
}

footer .container {
  display: flex;
  justify-content: center;
}

.icon {
  flex-basis: 40px;
  padding: 20px 10px;
  margin: 0;
}

/* end footer styles */

/* nav styles */

nav {
  background-color: #6bbc5d;
  margin-bottom: 60px;
}
 
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.keanu_personal {
  margin: 20px;
}

.nav-bar li {
  float: right;
  line-height: 70px;
  height: 90px;
}

nav li a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 400ms ease;
  text-transform: uppercase;
}


nav li a:hover {
  background-color: #000;
  color: #6bbc5d;
}

nav img.matrix {
  width: 100%;
  vertical-align: bottom;
}

/* end nav styles */