
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

h2 {
  color: #6bbc5d;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

a {
  color: #6bbc5d;
  transition: opacity 400ms ease;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

li
{
    list-style: none;
}

ul
{
    padding: 0px;
}

/* footer styles */


footer {
  background-color: #000;
  margin-top: 60px;
}

footer .container {
  display: flex;
  justify-content: center;
}

.icon {
  flex-basis: 40px;
  padding: 20px 10px;
  margin: 0;
}

/* end footer styles */

/* nav styles */

nav {
  background-color: #000000;
  margin-bottom: 60px;
}
 
.nav-bar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

.keanu_personal {
  margin: 20px;
}

.nav-bar li {
  float: right;
  line-height: 70px;
  height: 90px;
}

nav li a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: lighter;
  display: block;
  color: #6bbc5d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 400ms ease;
  text-transform: uppercase;
}


nav li a:hover {
  /* background-color: #6bbc5d; */
  color: #000000;
}

nav img.matrix {
  width: 100%;
  vertical-align: bottom;
}

/* end nav styles */

/* Blinking animation */

.blinking:hover{
  animation:blinkingText 1.5s infinite, blinkingBackground 1.5s infinite;
  /* animation:blinkingBackground 2s infinite; */
}

@keyframes blinkingText{
  0%{     background-color: #6bbc5d;    }
  25%{    background-color: #6bbc5d; } 
  50%{    background-color: #6bbc5d; }
  75%{    background-color: #000000;  }
  100%{   background-color: #000000;    }
}

@keyframes blinkingBackground{
  0%{     color: #000000;    }
  25%{    color: #000000; } 
  50%{    color: #000000; }
  75%{    color: #497e3f;  }
  100%{   color: #497e3f;    }
}