
.personal_img {
    width: 520px;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 5px;

}
  
  figcaption {
    color: darkgrey;
    font-size: 20px;
  }

/* Family container */

.family_h1 {
  clear: both;
}

.family_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.family_container li {
  justify-content: space-between
}

.family_img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 10px #6bbc5db0;
}
.zoom {
  transition: all 400ms ease;
}

.zoom:hover {
  transform: scale(2.5)
}

p {
  font-size: 26px;
  line-height: 1.25em;
}